.hatavoti-logo{
    height: 30px;
}

.around-top-bar{
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 999;
    top: 20px;
    justify-content: center;
}

.text-field{
    border-radius: 30px;
}